@page
@model CartModel
@{
}

<h2>Alışveriş Sepeti</h2>

<table class="table table-bordered table-striped table-hover">

    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Price</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Cart.Items ?? new List<CartItem>())
        {
            <tr>
                <td>@item.Quantity</td>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price.ToString("N2")</td>
                <td>@((item.Quantity * item.Product.Price).ToString("N2"))
                </td>
                <td>
                    <form method="post" asp-page-handler="Remove">
                        <input type="hidden" name="Id" value="@item.Product.Id"/>
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td >@Model.Cart.CalculateTotal().ToString("N2") ₺</td>
        </tr>
    </tfoot>
</table>

<div>
    <a href="/">Alışverişe Devam Et</a>
</div>